*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--background);
  transition: background .5s ease-in-out;
}

:root{
  --color: #000;
  --background: #fff;
}

.DARK{
  --color: #fff;
  --background: #000;
}
