*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--background);
  transition: background .5s ease-in-out;
}

:root{
  --color: #000;
  --background: #fff;
  --header-ac-bg: rgba(0, 0, 0, 0.05);
}

.DARK{
  --color: #fff;
  --background: #000;
  --header-ac-bg: rgba(255, 255, 255, 0.1);
}
