.container {
  padding: 0;
  height: 100vh;
}

.canvas{
  z-index: 1;
  position: fixed;
  top: 25px;
  left: 25px;
}

.main {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  cursor: pointer;
}

.manifest{
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.header{
  height: 16px;
  border-bottom: 1px solid #000;
  display: flex;
}

.close{
  color: #000;
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}

.drag{
  flex: 1;
  cursor: grab;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
